body{
  font-family: "Helvetica", sans-serif;
}
.top{
  color: white;
  text-align: center;
  background-image: url(./Broadway/resources/images/the-flatiron-building.png);
  background-size: cover;
}
h3,
h2,
h1{
  font-weight: bold;
}
h1{
  font-size: 70px;
}
a{
  font-size: 18px;
  color: white;
}
h2{
  font-weight: bold;
  font-size: 32px;
}
.mid,
h3,
.end p,
.contact p{
  text-align: center;
}
h3{
  font-size: 23px;
}
.footer {
  background-color: dimgray;
  color: white;
}
.footer span{
  font-size: 11px;
}
