body{
  text-align: center;
  font-family: helvetica;
  color: white;
}
h1{
  font-weight: bold;
  font-size: 70px;
  background-image: url("resources/images/the-flatiron-building.png");
}
a{
  font-size: 18px;
}
h2{
  font-weight: bold;
  font-size: 32px;
  color: black;
}
h3{
  font-size: 23px;
  font-weight: bold;
  color: black;
}
p{
  font-size: 14px;
  color: black;
}
.designlocation {
  font-size: 23px;
  font-weight: bold;
  color: white;
  background-image: url("resources/images/the-flatiron-building.png");
}
.copyright{
  font-size: 11px;
  background-color: dimgray;
  color: white;

}
